[class="admin"] {
    margin: 24px
}

#admin_modal {
    width: 250px;
    margin: 0 0 0 -275px;
}

#admin_userName {
    margin: 10px;
}

#admin_userPassword {
    margin: 10px;
}

#admin_profileName {
    margin: 10px;
}

#admin_role {
    margin: 10px;
}