#user_modal {
    width: 250px;
    margin: 0 0 0 -275px;
}

#user_delete {
    margin: 20px
}

#user_changePassword {
    margin: 20px
}

#user_newPassword {
    margin: 10px
}

#user_oldPassword {
    margin: 10px
}