[class="courses$_id"] {
    margin: 24px
}

[id="id_courses$_id_textarea_raw"] {
    min-width: 100%
}

[id="id_courses$_id_textarea_trim"] {
    min-width: 100%
}

#courses_id_label {
    width: 200px;
}

#courses_id_input {
   margin: 5px;
}